{% extends 'AcmeCalculatorUIBundle:Layout:base.html.twig' %}
{% from 'AcmeCalculatorUIBundle:Common:computeForm.html.twig' import displayComputeForm %}

{% block css %}
    {% stylesheets
    '@AcmeCalculatorUIBundle/Resources/public/css/third-parties/*'
    '@AcmeCalculatorUIBundle/Resources/public/css/common/*'
    '@AcmeCalculatorUIBundle/Resources/public/css/result/*'
    filter='cssembed,?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{% trans %}seo.title.result{% endtrans %}{% endblock %}

{% block h1 %}<h1>{% trans %}seo.h1.result{% endtrans %}</h1>{% endblock %}

{% block javascript %}
    {% set jsSources = "" %}
    {% javascripts
        '@AcmeCalculatorUIBundle/Resources/public/js/third-parties/*'
        '@AcmeCalculatorUIBundle/Resources/public/js/common/*'
        '@AcmeCalculatorUIBundle/Resources/public/js/result/*'
        filter='?yui_js' %}
    {% set jsSources = (jsSources == "") ? asset_url : jsSources ~ "|" ~ asset_url%}
    {% endjavascripts %}
    {{jsSources}}
{% endblock %}

{% block main %}
    <div class="results">
        {% if operation.result is not null %}
            <div class="alert alert-success" role="alert">
                {{ operation.operandA.value }}
                {{ operation.operator.label }}
                {{ operation.operandB.value }}
                =
                {{ operation.result.value | default("") }}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {% trans %}operation.impossible{% endtrans %}
            </div>
        {% endif %}
    </div>

    {{ displayComputeForm(form) }}
{% endblock %}
