{% macro displayComputeForm(form) %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.operandA.value, 'operand' | trans({'%id%': 'A'})) }}
            {{ form_errors(form.operandA.value) }}
            {{ form_widget(form.operandA.value, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.operator, 'operator' | trans) }}
            {{ form_errors(form.operator) }}
            {{ form_widget(form.operator, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.operandB.value, 'operand' | trans({'%id%': 'B'})) }}
            {{ form_errors(form.operandB.value) }}
            {{ form_widget(form.operandB.value, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_widget(form.compute, {'attr': {'class': 'btn btn-default'}, 'label': 'compute' | trans}) }}


    {{ form_end(form) }}
{% endmacro %}